* {
    box-sizing: border-box;
    margin: 0;
}

body {
    animation: transitionIn 0.75s;
    font-family: "Zapf Calligraphic 801 TL";
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY();
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.nav-container {
    position: sticky;
    z-index: 1;
    top: 0;
    background: rgba(242, 245, 247, 1);
    height: 72px;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    margin-left: 30px;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 60px;
}

.nav-items li a {
    color: rgba(66, 75, 90, 1);
    font-size: 12px;
    font-family: normal;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: 300ms;
}

.nav-items li a:hover {
    transform: translateY(-8px)
}

.logo {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.logo a {
    margin-left: 25px;
    color: rgba(66, 75, 90, 1);
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.banner {
    display: flex;
    align-items: flex-end;
    background-image: url("Header-Backgroung-Img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-image {
    background-image: url("Profile-Img.png");
    background-image: url(glass-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    margin-left: 480px;
    border-radius: 12px;
}

span {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(50px);
    display: inline;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

header .profile-image {
    position: absolute;
    transition: 300ms;
}

header .profile-image img:hover {
    transform: rotate(-6deg);
}

header {
    display: flex;
    align-items: column;
    justify-content: flex-start;
    margin-right: 350px;
}

header h1 {
    font-family: normal;
    font-weight: normal;
    text-align: left;
    font-size: 66px;
    line-height: 83px;
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    width: 405px;
    Height: 167px;
    margin-bottom: 530px;
    margin-top: 100px;
    margin-left: -420px;
}

header p {
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    width: 548px;
    margin-top: -480px;
    margin-bottom: 50px;
    margin-left: -420px;
}

header a {
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: solid 2px;
    opacity: 8.7;
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    color: rgba(242, 245, 247, 1);
    text-decoration: none;
    border-radius: 6px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
    margin-bottom: 120px;
    margin-left: -420px;
    position: relative;
    overflow: hidden;
}

header a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32, 107, 206);
    z-index: -1;
    transition: 300ms;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 240%;
}

header a:hover {
    transform: translateY(-8px)
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(242, 245, 247, 1);
    background-image: url("triangle10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 1380px;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

h1 {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgba(80, 93, 104, 1);
    padding-top: 30px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

h2,
h3,
h4,
h5 {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgba(80, 93, 104, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 270px;
    text-align: center;
    padding-top: 10px;
}

.work-img {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

.work-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 940px;
    width: 305px;
    margin: 20px;
    padding: 20px;
    border: paleturquoise;
    box-shadow: 10px 8px 8px rgba(80, 93, 104, 1);
    background-image: url(glass-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    display: inline-block;
    transition: 300ms;
}

.work-title:hover {
    transform: translateY(-20px);
    background-color: rgb(32, 107, 206);
}

.post-title {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgba(80, 93, 104, 1);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    max-width: 270px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-excerpt {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgba(80, 93, 104, 1);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    mix-blend-mode: normal;
    max-width: 270px;
    text-align: center;
    padding-top: 480px;
    padding-bottom: 15px;
    margin-top: -475px;
}

.main-2-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    background-color: rgba(242, 245, 247, 1);
    background-image: url("triangle10.5jpg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper2 {
    display: flex;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
}

h6 {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    padding-top: 30px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.school-img {
    width: 20%;
    margin: 10px 0;
}

.school-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 60px;
    padding: 20px;
    border: paleturquoise;
    box-shadow: 10px 5px 5px rgba(80, 93, 104, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    background-image: url(glass-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.btn {
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: solid 2px;
    opacity: 8.7;
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    color: rgba(242, 245, 247, 1);
    text-decoration: none;
    border-radius: 6px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32, 107, 206);
    z-index: -1;
    transition: 300ms;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 240%;
}

.btn:hover {
    transform: translateY(-8px)
}

.post-title1 {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    max-width: 500px;
    text-align: center;
    padding-bottom: 15px;
}

.date1 {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 500px;
    text-align: center;
    padding-bottom: 15px;
}

.post-excerpt1 {
    color: rgba(242, 245, 247, 1);
    text-shadow: 7px 5px 5px rgb(12, 13, 14);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    mix-blend-mode: normal;
    max-width: 500px;
    text-align: center;
    padding-bottom: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(38, 164, 191, 1);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 100%;
    max-width: 1920px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-me {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: rgba(59, 83, 100, 1);
    padding-bottom: 15px;
}

.contact-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(69, 91, 106, 1);
    padding-bottom: 20px;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1920px;
    height: 200px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: rgba(242, 245, 247, 1);
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

footer ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.footer-items li {
    list-style: none;
    margin-right: 30px;
}

.footer-items li a {
    color: #505D68;
    font-size: 12px;
    display: flex;
    flex-direction: space-around;
    font-family: normal;
    text-decoration: none;
    text-transform: uppercase;
    transition: 300ms;
}

.footer-items li a:hover {
    transform: translateY(-8px)
}

.logo2 a {
    color: rgba(66, 75, 90, 1);
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-family: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

button {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 190px;
    z-index: 99;
    border: none;
    text-align: baseline;
    outline: none;
    background-color: rgba(66, 75, 90, 1);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    font-size: 15px;
}

button:hover {
    background-color: rgb(32, 107, 206);
}